/* OneFile/index.css */

body {
	margin:0;
	padding:0 2em 2em 2em;
}

a:link {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

h1 {
	color:lightgreen;
	font-weight:bold;
	font-size:1.4em;
}

h2 {
	color:gray;
	font-weight:bold;
	font-size:1.2em;
	margin:1em 0 1em 0;
}

table tr td:last-child {
    border-bottom: none;
}

table td {
	padding:0.3em;
}

th { 
background-color:white;
color:lightgreen;
}

/* tables tr td */

#A {
	border:1px dotted lightblue;
	width:100%;
	padding:0.5em;
	margin:0 0 1em 0;
}

#A1 {
	width:100%;
	border-bottom:1px lightblue dotted;
	padding-bottom:1em;
}

#A1 tr > td:last-of-type {
	border-bottom:none;
}

#A3_foldersOperation {
	width:100%;
	border-bottom:1px lightblue dotted;
	padding-bottom:1em;
}
#A3_foldersOperation td {
	border-bottom:1px dotted silver;
}

#A3_foldersOperation tr > td:last-of-type {
	border-bottom:none;
}

#foldersOperation {
	width:100%;
	background-color:white;
	border-bottom:1px lightblue dotted;
	padding-bottom:1em;
}
#foldersOperation td {
	border-bottom:1px dotted silver;
}

#A2_fileForms {
	width:100%;
	border-bottom:1px lightblue dotted;
	padding-bottom:1em;
}

.cur-folder {
	font-weight:bold;
	text-decoration:italic;
	color:violet;
	font-size:1.2em;
}

.cur-folder-top {
	font-weight:bold;
	text-decoration:italic;
	color:blue;
	font-size:1.4em;
}

.total {
	font-weight:bold;
	padding:0 0 0 0.2em;
	color:lightblue;
}

.submit {
	
	/* didnt work in Edge */
	
    padding:2px 4px; 
    background:white; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 1px;
    border-radius: 1px; 
}

.error {
	color:lightblue;
	font-size:0.9em;
	margin:0;
	padding:0;
}

.highlight {
	color:red;
	font-size:1.1em;
}

.spacer {
	margin:2em 0 2em 0;
}

/* HTML Tags */
input[type=textarea] {
	width:100%;
	min-height:4em;
}

.browser-info {
	font-size:0.7em;	/* smaller than 0.7: text is illegible */
}

.td-spacer {
	padding:0.5em 0 1em 0;
}