/* public/index.css */

body {
	margin:0 0 0 1em;
	padding:0 2em 2em 0em;
	top:2em;
}

a:link {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

h1 {
	color:lightgreen;
	font-weight:bold;
	font-size:1.4em;
}

h2 {
	color:gray;
	font-weight:bold;
	font-size:1.2em;
	margin:1em 0 1em 0;
}

.cur-folder {
	font-weight:bold;
	text-decoration:italic;
	color:violet;
	font-size:1.2em;
	float:left;
	clear:left;
}

.cur-folder-top {
	font-weight:bold;
	text-decoration:italic;
	color:blue;
	font-size:1.4em;
}

.total {
	font-weight:bold;
	padding:0 0 0 0.2em;
	color:lightblue;
}

.submit {
	
	/* didnt work in Edge */
	
    padding:2px 4px; 
    background:white; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 1px;
    border-radius: 1px; 
}

.error {
	color:lightblue;
	font-size:0.9em;
	margin:0;
	padding:0;
}

.highlight {
	color:red;
	font-size:1.1em;
}

.spacer {
	margin:2em 0 2em 0;
	border:0;
}

/* HTML Tags */
input[type=textarea] {
	width:100%;
	min-height:4em;
}

.browser-info {
	font-size:0.7em;	/* smaller than 0.7: text is illegible */
}

/* index.htm */

	nav {
	margin:1em 0 2em 0;
	width:auto;
	height:3em;
	/*background-image:url('https://www.a1z.us/pcaccess/free/pixel-lightyellow.png');*/
	background-repeat:x-repeat, y-repeat;
	padding:0.4em 0 0.5em 0;
	}
	nav ul {
	
	}
	nav ul li {
	list-style-type:none;
	position:relative;
	float:left;
	clear:right;
	padding:0 1em 0 1em;
	border-right:1px gray dotted;
	}
	nav ul li a {
	padding:0;
	text-decoration:none;
	}
	nav ul li a:hover {
	text-decoration:underline;
	color:red;
	}
	header {
	clear:both;
	margin:2em 0 0 0;
	}
	header h2 {
	margin:1em 0 0 0;
	}
	.last {
	border-right:none;
	}
	#sponsors {
	margin:1em 0 1em 0;
	width:auto;
	height:4em;
	border:0;
	padding:0;
	}
	h3 {
	font-size:0.8em;
	display:none;
	}

	.files-btn {
		float:right;
		clear:right;
	}
	
	.folders-btn {
		float:right;
		clear:right;
	}
	table {
        width:100%;
		 border-collapse:collapse;
	}
	tr, td, th {
		border:none;
		border-style : hidden!important;
	}